body, html{
    height:100%;
    margin:0;
    font-size:16px;
    font-family:"Lato", sans-serif;
    font-weight:400;
    line-height:1.8em;
    color:#666;
  }
  
#parallax {

    position: absolute;
      height: 100%;
      width: 100%;
      background: url('img/taylor-kiser-373466-unsplash.jpg') no-repeat center center fixed; 
      background-size: cover;
}


@font-face {
    font-family: Boulevard;
    src: url('font/boulevard_2/Boulevard.otf')
}